XYZCustomer/WSDLs/CustMigrationSplitJoin.wsdl

<wsdl:definitions name="CustomerInfoService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://xmlns.xyzbank.com/wsdl/Customer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.xyzbank.com/wsdl/Customer"
                  xmlns:ns1="urn:xyzbank:cust:schema:customerinfo">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:xyzbank:cust:schema:customerinfo"
                xmlns:tns="urn:xyzbank:cust:schema:customerinfo">
      <?audit suppress oracle.jdeveloper.webservice.xsd-schema-not-element-qualified?>
      <xsd:complexType name="migrated_customer">
        <xsd:sequence>
          <xsd:element name="customer_id" type="xsd:string"/>
          <xsd:element name="full_name" type="xsd:string"/>
          <xsd:element name="date_of_birth" type="xsd:date"/>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="phone" type="xsd:string"/>
          <xsd:element name="addr_line1" type="xsd:string"/>
          <xsd:element name="addr_line2" type="xsd:string"/>
          <xsd:element name="addr_line3" type="xsd:string" minOccurs="0"/>
          <xsd:element name="addr_line4" type="xsd:string" minOccurs="0"/>
          <xsd:element name="customer_accounts" type="tns:accounts" minOccurs="0"/>
          <xsd:element name="customer_orders" type="tns:orders" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="customer_account">
        <xsd:sequence>
          <xsd:element name="account_id" type="xsd:long"/>
          <xsd:element name="account_type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="account_name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="investor_type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="start_date" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="brokerage_code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="rebate_code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="trading_limit" type="xsd:double" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="credit_limit" type="xsd:double" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="account_status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="registration_details" type="tns:account_registration_details" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="account_registration_details">
        <xsd:sequence>
          <xsd:element name="market_id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="instrument_code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="registration_details1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="postal_code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="country_code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="accounts">
        <xsd:sequence>
          <xsd:element name="account" type="tns:customer_account" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="customer_order">
        <xsd:sequence>
          <xsd:element name="account_id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="instrument_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="order_action" type="xsd:double" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="price" type="xsd:double" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="currency_code" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="quantity" type="xsd:double" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="date_created" type="xsd:date" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="brokerage_amount" type="xsd:double" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="brokerage_code" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="brokerage_perc" type="xsd:double" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="orders">
        <xsd:sequence>
          <xsd:element name="order" type="tns:customer_order" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="customerid_input">
        <xsd:sequence>
          <xsd:element name="customer_id" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="error_msg">
        <xsd:sequence>
          <xsd:element name="error_code" type="xsd:string"/>
          <xsd:element name="error_message" minOccurs="0" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="customerid_input" type="tns:customerid_input"/>
      <xsd:element name="migrated_customer" type="tns:migrated_customer"/>
      <xsd:element name="fault_msg" type="tns:error_msg"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomerInfoRequest">
    <wsdl:part name="parameters" element="ns1:customerid_input"/>
  </wsdl:message>
  <wsdl:message name="CustomerInfoResponse">
    <wsdl:part name="parameters" element="ns1:migrated_customer"/>
  </wsdl:message>
  <wsdl:message name="GenericFault">
    <wsdl:part name="parameters" element="ns1:fault_msg"/>
  </wsdl:message>
  <wsdl:portType name="CustomerInfoServicePort">
    <wsdl:operation name="GetCustomerInfo">
      <wsdl:input message="tns:CustomerInfoRequest"/>
      <wsdl:output message="tns:CustomerInfoResponse"/>
      <wsdl:fault name="FaultMsg" message="tns:GenericFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerInfoServiceBinding" type="tns:CustomerInfoServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCustomerInfo">
      <soap:operation soapAction="http://xmlns.xyzbank.com/wsdl/Customer/GetCustomerInfo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>